:root {
    --sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --off-white: #eee;
    --off-black: #222;
    --kiss: #6a4d5b;
    --pie: #f57e8b;
    --storm: #ddc9ac;
    --safe: #acb8b7;
}

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
    font-family: var(--sans);
    color: var(--off-black);
}

html {
    width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
    margin: 1rem 1rem 1rem 0;
    padding: 0;
}

a {
    color: #284e72;
}

a:hover {
    color: #5680a7;
}

.hidden {
    display: none !important;
}

body {
    background-color: var(--kiss);
    font-family: var(--sans);
}

li {
    padding: 0.25rem 0 0.25rem 0;
}

figure {
    width: 100%;
}

figure img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    margin: 0;
    padding: 0;
}

tbody > tr:nth-child(odd) {
    background-color: #0008;
}

td,
th {
    margin: 0;
    padding: 0 0.25rem 0 0.25rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: #fff9;
}

th {
    text-align: center;
    font-weight: bolder;
}

legend {
    padding: 0 0.25rem 0 0.25rem;
}

details {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: var(--off-black);
    border-radius: 0.5rem;

    box-shadow: 0 0 1rem inset #00000080;
}

details ul,
details ol {
    list-style-position: inside;
}

#main-header {
    display: flex;
    flex-direction: row;
}

#header-div {
    flex: 4 1 auto;
}

#main-logo-container {
    flex: 1 2 auto;
    padding-bottom: 0.25rem;
}

#main-logo {
    max-height: 6.5rem;
    width: auto;
    height: auto;

    float: right;
}

.subheader {
    margin-top: -0.5rem;
    padding: 0 1.5rem 0 1.5rem;
    font-weight: lighter;
}

#main-nav {
    background-color: #0003;
    height: 2rem;
}

@media (max-width: 30rem) {
    #main-nav {
        height: 100%;
    }
}

#main-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

@media (max-width: 30rem) {
    #main-nav-list {
        flex-direction: column;
    }
}

#main-nav-list > li {
    flex: 1 1 auto;
    list-style-type: none;
    text-align: center;

    width: 100%;
    height: 100%;
    padding: 0 5% 0 5%;
}

@media (max-width: 30rem) {
    #main-nav-list > li {
        padding: 0.25rem 5% 0.25rem 5%;
    }
}

#main-nav-list a,
#main-nav-list span {
    font-weight: bolder;
    color: var(--off-white);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#main-nav-list a:hover {
    color: #fff;
    text-shadow: 0 0 0.5rem #fff59f;
}

.section {
    display: block;
    width: 100%;
}

.inner-section {
    padding: 0.5rem 25% 0.5rem 25%;
}

.inner-section.wide {
    padding: 0.5rem;
}

@media (max-width: 60rem) {
    .inner-section {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }
}

.inner-section::after {
    content: "";
    clear: both;
    display: table;
}

.section:nth-child(4n + 1) {
    background-color: var(--kiss);
    color: var(--off-white);
}

.section:nth-child(4n + 1) a {
    color: #86b8e6;
}

.section:nth-child(4n + 1) a:hover {
    color: #5c89b3;
}

.section:nth-child(4n + 2) {
    background-color: var(--pie);
}

.section:nth-child(4n + 3) {
    background-color: var(--storm);
}

.section:nth-child(4n) {
    background-color: var(--safe);
}

.dark a {
    color: #86b9f3;
}

.dark a:hover {
    color: #8ddee4;
}

span.dark {
    background-color: var(--off-black);

    display: inline-block;
    padding: 0.125rem 0.25rem 0.125rem 0.25rem;
    border-radius: 0.5rem;
}

.toonup {
    color: #ae50ce;
}

.section.dark {
    background-color: var(--off-black);
    color: var(--off-white);
}

#combo-table-section {
    overflow-x: auto;
    overflow-y: auto;
    scroll-padding: 0.5rem;
}

#combo-table-container {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
}

#combo-table-noscript {
    padding: 0.5rem 25% 0.5rem 25%;

    background-color: #0d3849;
}

#combo-table-noscript a {
    color: #bd9883;
    text-decoration: underline;
    padding: 0.05rem;
    border: none;
}

#combo-table-noscript a:hover {
    color: #ffe4bb;
}

#combo-table-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#combo-table-controls > fieldset {
    margin: 0.5rem;
    border: 0.125rem solid #fff9;
}

#combo-table-controls label {
    margin: 0 0.33333rem 0 0.33333rem;
}

#combo-table-controls input[type="number"] {
    background-color: #0008 !important;
    color: var(--off-white) !important;
    border: 0.125rem solid #fff9;
    padding: 0.25rem;

    min-width: 2.5rem;
    max-width: 3rem;
    min-height: 1rem;
}

#combo-table {
    margin: 0 auto;
}

#combo-table td {
    vertical-align: top;
}

.combo-listing {
    list-style-type: none;
}

.combo-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    list-style-type: none;
}

.combo-listing > li:nth-child(n+2) {
    border-top: 0.083333rem solid #fff6;
    border-radius: 12px;
}

.combo-ul > li {
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    overflow: visible;
}

.combo-ul > li > img {
    object-fit: none;
    object-position: 50% 50%;
    display: block;
}

.acc-div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.acc-div > span {
    display: inline-block;
    margin: 0 0.25rem 0 0.25rem;

    color: var(--off-white);
    text-align: center;
}

.acc-span.plural::after {
    content: ',';
}

.acc-tu-span.toonup {
    color: #ae50ce;
}

#footer-inner,
#footer-links {
    padding: 0 1rem 0 1rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: #fff9;
    border-radius: 0.5rem;

    box-shadow: 0 0 1rem inset #00000080;
}

#footer-links {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    float: right;
    text-align: right;
}
